:root {
  --state-message-font-size: 1.25rem;
}

.state-message {
  min-height: calc(var(--body-line-height) * var(--state-message-font-size));
  font-size: var(--state-message-font-size);
  font-weight: 600;
}

.timer-display {
  font-size: 12rem;
  line-height: 1;
}

.website-title {
  margin: var(--standard-margin-vertical) 0;
  font-size: var(--body-font-size);
}

@media screen and (width < 900px) {
  .timer-display {
    font-size: 9.75rem;
  }
}

@media screen and (width < 700px) {
  .timer-display {
    font-size: 6.75rem;
  }
}

@media screen and (width < 500px) {
  .timer-display {
    font-size: 5rem;
  }
}

@media screen and (width < 400px) {
  .timer-display {
    font-size: 3.5rem;
  }
}
