body, body.hell, body.heaven {
  background-color: var(--color-normal-light);
  color: var(--color-normal-dark);
}

hr, .hell hr, .heaven hr {
  border-color: var(--color-normal-dark);
}

.button, .hell .button, .heaven .button {
  background-color: var(--color-normal-dark);
  color: var(--color-normal-light);
}
